.container {
  max-width: 100vw;
  margin: 0;
  padding: 1vh;
  padding-top: 1vh;
  border-radius: 8px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
  font-size: 0.75vw;
  text-align: center;
  background-color: #eeffff;
}


header {
  text-align: center;
  margin-bottom: 20px;
}


hr {
  border: 1px solid #333;
  margin: 20px 0;
}

p {
  font-size: 16px;
  line-height: 1.6;
}

#homelink {
  width: 5vw;
  min-width: 75px;
  margin: 0;
  margin-left: 8vw;
}

#hobbylink {
  width:15vw;
  min-width:150px;
  margin: 0;
}

#bloglink {
  width:8vw;
  min-width: 66px;
  margin: 0;
  margin-right: 8vw;
}

#worklink {
  width:11.5vw;
  min-width:90px;
  margin: 0;
}